.container {

    background-color: aquamarine;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.btn {
    border: 1px solid darkblue;
    background-color: violet;
    border-radius: 5px;
    padding: 5px;
    color: white;
}