.container {

    background-color: aquamarine;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.btn {
    border: 1px solid darkblue;
    background-color: violet;
    border-radius: 5px;
    padding: 5px;
    color: white;
}

.btn:hover {
    border-color: aqua;
}

.btn-grid {
    display: grid;
    gap: 10px;
    margin: 20px 0;
}

.choices {
    display: flex;
    align-items: center;
    justify-content: center;

}

.time {
    background-color: blue;
    font-weight: bold;
    border: 2px black;
}

.start-btn, .next-btn, .submit-btn {
    font-size: large;
    font-weight: bold;
    padding: 10px 60px;
}